# Front-End
web/premier-league-crime-react-app/build
web/premier-league-crime-react-app/node_modules

# Back-End
web/premier-league-crime-serverless-api/.aws-sam

# Terraform
terraform/.terraform
terraform/.terraform.lock.hcl
terraform/terraform.tfvars