# Exclude dependencies
web/premier-league-crime-react-app/node_modules
web/premier-league-crime-serverless-api/node_modules
web/premier-league-crime-serverless-api/generate-stadium-locations/node_modules

# Exclude build (for front-end)
web/premier-league-crime-react-app/build